extend default

block content
    div(id="myCarousel" class="carousel slide" data-ride="carousel")
        ol.carousel-indicators
            li(data-target="#myCarousel" data-slide-to="0" class="active")
            li(data-target="#myCarousel" data-slide-to="1")
            li(data-target="#myCarousel" data-slide-to="2")
        div.carousel-inner(role="listbox")
            div(class="item active")
                img(src="images/dolls.jpg" alt="Dolls" width="1280" height="852")
                div.carousel-caption
                    h3="Dolls"
                    p="There are something amazing happened"
            div(class="item")
                img(src="images/bay.jpg" alt="bay" width="1280" height="852")
                div.carousel-caption
                    h3="La Jolla Bay"
                    p="It is my favorite place in SD"
            div(class="item")
                img(src="images/motors.jpg" alt="motors" width="1280" height="852")
                div.carousel-caption
                    h3="Motors"
                    p="The motors in Julian"

    div(class="container text-center")
        h3= "Program monkey"
        p.
            we love music
        p.
            we have created a fictional band website. Lorem ipsum..
        br
        .row
            .col-sm-4
                p
                    strong="Miaomiao"
                br
                a(href="#demo" data-toggle="collapse")
                    img(src="images/bandmember.jpg" class="img-circle person" alt="Random Name")
                div(id="demo" class="collapse")
                    p="Miaomiao is a man"
                    p="loves long walks on the beach"
                    p="Member since 1988"
            .col-sm-4
                p
                    strong="Piaopiao"
                br
                a(href="#demo2" data-toggle="collapse")
                    img(src="images/bandmember.jpg" class="img-circle person" alt="Random Name")
                div(id="demo2" class="collapse")
                    p="Piaopiao is a woman"
                    p="loves thinking"
                    p="Member since 1988"
            .col-sm-4
                p
                    strong="Pipi"
                br
                a(href="#demo3" data-toggle="collapse")
                    img(src="images/bandmember.jpg" class="img-circle person" alt="Random Name")
                div(id="demo3" class="collapse")
                    p="Pipi is a dog"
                    p="loves eating and running"
                    p="Member since 2017"